body {
    margin: 0;
}

header {
    background-color:rgb(199, 199, 199);
    color: black;
    text-align: center;
    padding: 20px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}


.card {
    background-color:rgb(116, 113, 110);
    border: 1px solid #ccc;
    border-radius: 10px;
    color:white;
    padding: 15px;
    width: 300px;
}

.card h2 {
    margin-top: 0;
}

.card p {
    line-height: 1.5;
}

.card button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}


