body{
    margin: 50px 0px 0px 0px;
    display: flex;
    justify-content: center;
    
}
.main-container{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.main-container h1{
    color: brown;
}


.para{
    margin: 10px;

}
.lists{
    margin: 10px;
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    background-color:rgb(198, 206, 206);
    
}
.lists:hover{
    cursor: pointer;
    background-color: rgb(174, 177, 177);
}
.h3{

    padding: 0px;
    font-weight: bold;
}
.featurelists{
    list-style-type: none;   
    padding: 0;
    margin: 0;
}