body{
    margin: 0px;
}
.main-container{
    display: flex;
    border: 2px solid;
   
}
.sidebar{
    background-color:darkgrey;
    width: 400px;
    height: 100vh;
    padding: 20px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li{
    padding: 10px;
    background-color:rgb(185, 183, 183);
}

.main-content{
    background-color: cadetblue;
    width: 100%;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-around;
    
}

.indicard{
    background-color: antiquewhite;
     padding: 20px;
    border: 1px solid #ccc;
    /* border: none ; */
    text-align: center;
    width: 100px;
    border-radius: 10px;
}

@media (max-width:700px){
    .main-container {
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
        height: auto;
        text-align: center;
                box-sizing: border-box;

    }
    .sidebar ul{
       display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 8px;
        padding: 0;
        margin: 0;   
    }
        .sidebar ul li {
        margin: 5px;
    }
    .cards {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    
}